.alerts-card {
    border: 1px solid red;
    box-shadow: 1px 1px red;
    width: 60%;
    align-self: center;
    border-radius: 15px;
    text-decoration: none;
}

.alerts-container {
    border: 1px solid black;
    width: 80%;
    margin: 15px auto;
}