.alerts-banner {
    border: 3px solid red;
    border-radius: 15px;
    box-shadow: 2px 2px red;
    
    width: 80%;
    background-color: rgb(111, 200, 230, .7);
    align-self: center;
    
    text-decoration: none;
}

.alert-button {
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.alert-description {
    white-space: pre-wrap;
}

.alert-card {
    width: 80%;
    border-radius: 15px;
    align-self: center;
}