.description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast {
  width: 80%;
  border: 3px solid rgb(57, 169, 244);
  background-color: rgb(111, 200, 230, .7);

  align-self: center;
  display: flex;
  flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-half {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-right {
    margin-top: 25px;
}

@media only screen and (min-width: 922px) {
    .section {
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }

    .section-half {
        width: 50%;
    }

    .section-right {
        margin-top: 0;
    }
}