.description {
    display: flex;
    align-items: center; 
}

.forecast {
  width: 80%;
  border: 3px solid rgb(57, 169, 244);
  background-color: rgb(111, 200, 230, .7);

  align-self: center;
  display: flex;
  flex-direction: column;
}

.forecast-icon {
    height: 33px;
    float:right
}

.forecast-icon-container {
    width: 50%;
}

.forecast-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.forecast-info-block {
    margin-left: 10px;
    width: 50%;
}

.hr-border {
    border: solid 3px rgb(57, 169, 244);
    width: 95%;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-right {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 922px) {
    .forecast-icon-container {
        min-width: 10px;
    }

    .forecast-info {
        justify-content: flex-start;
        align-items: center;
    }

    .forecast-info-block {
        min-width: 115px;
    }

    .section {
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }

    .section-left {
        width: 50%;
        align-items: start;
    }
    
    .section-right {
        margin-left: auto;
        margin-bottom: 15px;
    }
}